<h1>Results for: {{location}}</h1>



<table class="bg-gray-200">
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Age</td>
    </tr>
{{#each result}}
    <tr>
        <td>{{first}}</td>
        <td>{{last}}</td>
        <td>{{age}}</td>
    </tr>
{{/each}}


</table>


{{#if hasDBErrors}}
 <div class="flex flex-col justify-center mt-12">
  <ul class="errorEl">
    <li>{{errors}}</li>
{{/if}}
  </ul>
</div>

<img src="/Illustration.svg" >
</div>
