
<table class="bg-gray-200">
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>City</td>
        <td>Age</td>
    </tr>
{{#each result}}
    <tr>
        <td>{{this.first}}</td>
        <td>{{this.last}}</td>
        <td>{{this.city}}</td>
        <td>{{this.age}}</td>
    </tr>
{{/each}}
<p>{{total}}</p>

</table>



{{#if hasDBErrors}}
 <div class="flex flex-col justify-center mt-12">
  <ul class="errorEl">
    <li>{{errors}}</li>
{{/if}}
  </ul>
</div>

<img src="/Illustration.svg" >
</div>
