
<table class="bg-gray-200">
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>City</td>
        <td>Age</td>
    </tr>
{{!-- Have to add URL somewhere pretty --}}

{{#each result}}
    <tr>
        <td>{{this.first}}</td>
        <td>{{this.last}}</td>
        <td><a href="/signers/{{this.city}}">{{this.city}}</a></td>
        <td>{{this.age}}</td>
    </tr>
{{/each}}
<p>{{total}}</p>

</table>



{{#if hasDBErrors}}
</div>
 <div class="flex flex-col items-center justify-center mt-12">
  <ul class="errorEl">
    <li>{{errors}}</li>
{{/if}}
  </ul>
</div>

